[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = "*"
uvicorn = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.9"

[scripts]
start = "uvicorn src.main:app --port 8081"
dev = "uvicorn src.main:app --reload --port 8081"